*.npy
*.gif
docs/sg_execution_times.rst
build/
dist/
*.egg-info/
**/.ipynb_checkpoints/
examples/*.ipynb
*.xml
.coverage*
.vscode


.idea
*.log
tmp/

*_cache/
*.py[cod]
*.egg

docs/generated/
docs_build/

src/mrinufft/_version.py
