name: Style

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linter-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v4

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Black Check
        shell: bash
        run: uvx black . --diff --color --check

      - name: ruff Check
        shell: bash
        run: uvx ruff check src
