name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: "3.10"
  BART_VERSION: "0.8.00"
  ref_backend: "finufft"
  create_venv: "python -m venv $RUNNER_WORKSPACE/venv"
  activate_venv: "source $RUNNER_WORKSPACE/venv/bin/activate"
  setup_cuda: "export CUDA_BIN_PATH=/usr/local/cuda/;export PATH=/usr/local/cuda/bin/:${PATH};export LD_LIBRARY_PATH=/usr/local/cuda/lib64/:${LD_LIBRARY_PATH}"

jobs:
  test-cpu:
    runs-on: cpu
    if: ${{ !contains(github.event.head_commit.message, '[style]') || github.ref == 'refs/heads/master' }}
    strategy:
      matrix:
        backend: [finufft, pynfft, pynufft-cpu, bart, sigpy, torchkbnufft-cpu]
        exclude:
          - backend: bart
          - backend: pynufft-cpu
          - backend: torchkbnufft-cpu

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Dependencies
        shell: bash
        run: |
          python --version

      - name: Install Python Deps
        shell: bash
        run: |
          python --version
          ${{ env.create_venv }}
          ${{ env.activate_venv }}
          python -m pip install --upgrade pip
          python -m pip install -e .[test,${{ env.ref_backend }},${{ matrix.backend }}]
          
      - name: Install BART if needed
        if: ${{ matrix.backend == 'bart'  || env.ref_backend == 'bart'}}
        shell: bash
        run: |
          cd $RUNNER_WORKSPACE
          sudo apt-get install make gcc libfftw3-dev liblapacke-dev libpng-dev libopenblas-dev
          wget https://github.com/mrirecon/bart/archive/v${{ env.BART_VERSION }}.tar.gz
          tar xzvf v${{ env.BART_VERSION }}.tar.gz
          cd bart-${{ env.BART_VERSION }}
          make
          echo $PWD >> $GITHUB_PATH

      - name: Run Tests
        shell: bash
        run: |
          ${{ env.activate_venv }}
          export COVERAGE_FILE=coverage_${{ matrix.backend }}
          python -m pytest -k='operators' --backend ${{ matrix.backend }} --ref ${{ env.ref_backend }} --cov --disable-pytest-warnings --cov-branch --cov-report=term --durations=10
      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage_${{ matrix.backend }}
          path: coverage_${{ matrix.backend }}

  test-gpu:
    runs-on: gpu
    if: ${{ !contains(github.event.head_commit.message, '[style]') || github.ref == 'refs/heads/master' }}
    strategy:
      matrix:
        backend: [cufinufft, gpunufft, torchkbnufft-gpu, tensorflow]
        exclude:
            # There is an issue with tensorflow and cupy. This was working. See #156
          - backend: tensorflow

    steps:
      - uses: actions/checkout@v4

      - name: Install mri-nufft and finufft
        shell: bash
        run: |
          cd $RUNNER_WORKSPACE
          python --version
          python -m venv venv
          source $RUNNER_WORKSPACE/venv/bin/activate
          pip install --upgrade pip wheel
          pip install -e mri-nufft[test,finufft]


      - name: Install backend
        shell: bash
        run: |
          source $RUNNER_WORKSPACE/venv/bin/activate
          ${{ env.setup_cuda }}
          pip install -e .[${{ matrix.backend }},autodiff]

      - name: Run Tests
        shell: bash
        run: |
          ${{ env.activate_venv }}
          cd $RUNNER_WORKSPACE/mri-nufft
          export COVERAGE_FILE=coverage_${{ matrix.backend }}
          python -m pytest -k='operators' --ref ${{ env.ref_backend }} --backend ${{ matrix.backend }} --disable-pytest-warnings --cov --cov-branch --cov-report=term --durations=10

      - name: Upload coverage
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: coverage_${{ matrix.backend }}
          path: coverage_${{ matrix.backend }}

      - name: Cleanup
        if: always()
        shell: bash
        run: |
          cd $RUNNER_WORKSPACE
          ls -al
          rm -rf finufft
          rm -rf gpuNUFFT
          rm -rf venv

  test-other:
    runs-on: [gpu]
    if: ${{ !contains(github.event.head_commit.message, '[style]') || github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v4

      - name: Install mri-nufft and finufft
        shell: bash
        run: |
          ${{ env.create_venv }}
          ${{ env.activate_venv }}
          python -m pip install --upgrade pip wheel
          python -m pip install -e .[test,extra]
          python -m pip install cupy-cuda12x finufft "numpy<2.0"

      - name: Install torch with CUDA 12.x
        shell: bash
        run: |
          ${{ env.activate_venv }}
          ${{ env.setup_cuda }}
          python -m pip install torch

      - name: Run non operators tests
        shell: bash
        run: |
          ${{ env.activate_venv }}
          export COVERAGE_FILE=coverage_other
          python -m pytest -n=4 -k "not operators" --cov --cov-branch --cov-report=term --durations=10 --disable-pytest-warnings

      - name: Upload coverage
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: coverage_other
          path: coverage_other

      - name: Cleanup
        if: always()
        shell: bash
        run: |
          cd $RUNNER_WORKSPACE
          ls -al
          rm -rf finufft
          rm -rf gpuNUFFT
          rm -rf venv


  get-commit-message:
    runs-on: ubuntu-latest
    outputs:
       message: ${{ steps.get_commit_message.outputs.message }}
    steps:
       - uses: actions/checkout@v4
         with:
           ref: ${{ github.event.pull_request.head.sha }}
       - name: Get commit message
         id: get_commit_message
         run: |
            COMMIT_MESSAGE=$(git log -1 --pretty=%B)
            echo "Commit message $COMMIT_MESSAGE"
            echo "::set-output name=message::$COMMIT_MESSAGE"

  test-examples:
    runs-on: gpu
    needs: get-commit-message
    if: ${{ !contains(needs.get-commit-message.outputs.message, '[style]') || github.ref == 'refs/heads/master' }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Restore cached brainweb-dl directory
        uses: actions/cache/restore@v4
        id: cache-restore
        with:
          path: ~/.cache/brainweb
          key: ${{ runner.os }}-Brainweb

      - name: Install Python deps
        shell: bash
        run: |
          ${{ env.create_venv }}
          ${{ env.activate_venv }}
          python -m pip install --upgrade pip
          python -m pip install -e .[extra,test,dev]
          python -m pip install pooch brainweb-dl torch fastmri

      - name: Install Python deps
        shell: bash
        run: |
          ${{ env.activate_venv }}
          ${{ env.setup_cuda }}
          python -m pip install --upgrade pip
          python -m pip install -e .[test,dev,finufft,cufinufft,gpuNUFFT,sigpy,extra,autodiff,doc]
        
      - name: Run examples
        shell: bash
        run: |
          ${{ env.activate_venv }}
          export COVERAGE_FILE=coverage_plots
          export MRINUFFT_BACKEND=cufinufft
          python -m pytest examples -n=4 --cov --cov-branch --cov-report=term --durations=10

      - name: Cache brainweb-dl directory
        uses: actions/cache/save@v4
        if: ${{ steps.cache-restore.outputs.cache-hit != 'true' }}
        with:
          path: ~/.cache/brainweb
          key: ${{ runner.os }}-Brainweb

      - name: Upload coverage
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: coverage_plots
          path: coverage_plots

  coverage:
    runs-on: ubuntu-latest
    needs: [test-cpu, test-gpu, test-examples]
    if: ${{ always() }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Collect Coverages
        uses: actions/download-artifact@v4
        with:
          path: coverage_data
          pattern: coverage_*
          merge-multiple: true

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: add the coverage tool
        shell: bash
        run: |
          ${{ env.create_venv }}
          ${{ env.activate_venv }}
          python -m pip install --upgrade pip
          python -m pip install coverage[toml]
          python -m pip install -e .

      - name: Combine coverage
        run: |
          ${{ env.activate_venv }}
          export COVERAGE_FILE=coverage_combined
          coverage combine -a coverage_data/*

      - name: Upload Combined coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage_combined
          path: coverage_combined

      - name: Reports
        run: |
          ${{ env.activate_venv }}
          export COVERAGE_FILE=coverage_combined
          coverage xml
          coverage report
          echo COVERAGE_PERC=$(coverage report | tail -n 1 | grep -oE [0-9\.]*?% | cut -d '%' -f1) >> $GITHUB_ENV

      - name: Create a Coverage Badge
        if: ${{github.event_name == 'push'}}
        run: |
          wget https://img.shields.io/badge/coverage-${{env.COVERAGE_PERC}}%25-green -O coverage_badge.svg

      - name: Upload badge as artifact
        if: ${{github.event_name == 'push'}}
        uses: actions/upload-artifact@v4
        with:
          name: coverage_badge
          path: coverage_badge.svg

